body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
  color: #669933;
  background-color: #afc0ca;
  outline: none;
  transition: 0.4s;
}

button:hover {
  cursor: pointer;
  background-color: #afc0ca;
  opacity: 0.8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
